Cosplay Costume Shop 
Build a Cosplay Costume Shop in React where a store can track their costumes. This could 
be a different kind of clothing shop as well, as long as you're able to track the remaining 
amount and meet the objectives, you can be creative with this prompt. 
Before getting started, plan out your application and draw a component tree or 
component diagram that shows the structure of your components. This is a 
requirement for the project and should be included in your README. You may draw the 
structure on a piece of paper and take a picture of it or use an application 
like https://www.draw.io/. 
Keep in mind that you will only be expected to add CREATE, READ and UPDATE 
functionality, though you are welcome to implement full CRUD. Here are some user stories 
to get you started. The application should have the following functionality: 
• As a user, I want to see a list of all available costumes. For each costume, I want to 
see its name, brand, price and size. 
• As a user, I want to submit a form to add a new costume to a list. 
• As a user, I want to be able to click on a costume to see its detail page. 
• As a user, I want to see how many items of a particular costume are left in stock. 
• As a user, I want to be able to click a button next to a costume whenever I sell one of 
it. This should decrease the number of costumes left by 1.  Costume items should 
not be able to go below 0. 
Further Exploration 
If you have time remaining after you complete the required objectives, work on the 
following user stories: 
• As a user, I want the option to edit a costume's properties after entering them just in 
case I make a mistake. 
• As a user, I want to be able to delete a particular costume. 
• As a user, I want a costume to update to say "Out of Stock" once it's empty. 
• As a user, I want costumes with less than 10 items to include a message that says 
"Almost Out of Stock" so I can buy a unit before it's gone! 
• As a user, I want to have costumes prices to be color-coded for easy readability. 
This could be based on their price, the genre, or the number of items left. 
• As a user, I want this application to be nicely styled. (Use stylesheets and CSS 
objects!)